/*
create a background image so that text can be placed on top.
*/   
    
.heroImage {
  background-image: url("VibrantHudsonBackground.jpg");
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.heroText {
  text-align: left;
  position: absolute;
  top: 45%;
  left: 30%;
  transform: translate(-50%, -50%);
}
